body{
    background: url(../images/background.jpg);
    background-size: cover;
    display: block;
}
.header{
    margin-top: 20px;
    text-align: center;
}

.header h1{
    text-shadow: 0 0 3px #faed27, 0 0 5px #39ff14;
    padding-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: wavy black 5px;

}

.header h2{
    letter-spacing: 5px;
    text-decoration: underline solid black 2px;
    
}
.header span{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 0 0 3px #faed27, 0 0 5px #39ff14;
}

.body{
    display: block;
    margin-left: 200px;
}
